<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
      
        <Pos.Properties.Settings>
            <setting name="Pos_com_contifico_pos1_SincronizarPersonasService"
                serializeAs="String">
                <value></value>
            </setting>
            <setting name="Pos_com_contifico_pos2_SincronizarVentasService"
                serializeAs="String">
                <value></value>
            </setting>
            <setting name="Pos_com_contifico_pos_SincronizarProductosService"
                serializeAs="String">
                <value></value>
            </setting>
        </Pos.Properties.Settings>
    </applicationSettings>
  
  <userSettings>
    <Pos.Properties.Settings>
      <setting name="menuPrincipal" serializeAs="String">
        <value>-7928555</value>
      </setting>
      <setting name="submenu" serializeAs="String">
        <value>-8804161</value>
      </setting>
      <setting name="submenu1" serializeAs="String">
        <value>-7290252</value>
      </setting>
      <setting name="tituloGrupos" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="textoBoton" serializeAs="String">
        <value>-2205048</value>
      </setting>
      <setting name="textoMenu" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="textoSub" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="textoSub1" serializeAs="String">
        <value>-16777216</value>
      </setting>
      <setting name="textoLeyenda" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="textoListado" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="usarFondo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="estiloFondo" serializeAs="String">
        <value>0</value>
      </setting>
    </Pos.Properties.Settings>
  </userSettings>
</configuration>